<%= render 'templates/leftnav' %>
<div class="col col-lg-9 flock-content">
		<p id="notice"><%= notice %></p>
		<h3>editing template [<%= @template.name %>]</h3>
		<%= render 'form' %>
		<h4><%= link_to 'Back', templates_path %></h4>
</div>


