<%= render 'templates/leftnav' %>
<div class="col col-sm-9 flock-content">
		<p id="notice"><%= notice %></p>
		<h3>showing template [<%= @template.name %>]</h3>
		<%= render 'form_disabled' %>
		<h4><%= link_to 'edit', edit_template_path(@template) %> |
		<%= link_to 'back', templates_path %></h4>
		
</div>




